.collapse_title
  = image_tag 'minimize_grey.png', :class => 'collapse_icon'
  == #{@transcript.title} , #{@transcript.date}

.collapse_content
  %table#metadata.small
    %tr
      %td.name
        Participants
      %td.value
        - @transcript.participants.each do |participant|
          .participant
            %strong= participant.role
            == :
            = participant.name
            %br
    %tr
      %td.name
        Language
      %td.value
        = @transcript.language_code

    %tr
      %td.name
        Country
      %td.value
        = @transcript.country_code

    %tr
      %td.name
        Date
      %td.value
        = @transcript.date

    %tr
      %td.name
        Depositor
      %td.value
        = @transcript.depositor.full_name

    %tr
      %td.name
        Description
      %td.value
        = truncate @transcript.description, :length => 100

    %tr
      %td.name
        Original Format
      %td.value
        = @transcript.transcript_format

    %tr
      %td.name
        Download
      %td.value
        = link_to "EOPAS XML", eopas_transcript_path(@transcript)
        = link_to "Original (#{@transcript.transcript_format})", @transcript.source.url

  - if current_user and (@transcript.depositor.id == current_user.id or current_user.admin?)
    = link_to 'Edit transcript metadata', edit_transcript_path(@transcript)
