%button#tier_title.hider{'data-hide-selector' => "#tier_list"}
  == Set Displayed Tracks
%form#tier_list
  - if tiers.map {|tier| tier.phrases.size}.uniq.size != 1
    Error: Can't deal with transcripts that have different number of phrases in each tier
  - else
    - tiers.each do |tier|
      %input.tier_info.hider{'data-hide-selector' => ".#{tier.tier_id}", :type => 'checkbox', :checked => 'checked'}
        == Show #{tier.linguistic_type} 
        = "[#{tier.language_code}]" if tier.language_code
        %br
        - if tier.phrases.map {|phrase| phrase.words.size}.uniq.max > 0
          %input.words_info.hider{'data-hide-selector' => ".#{tier.tier_id}_w", :type => 'checkbox', :checked => 'checked'}
            == Show morphemes
            %br
