- if tiers.map {|tier| tier.phrases.size}.uniq.size != 1
  Error: Can't deal with transcripts that have different number of phrases in each tier
- else
  - tier_phrases = tiers.first.phrases.zip(*tiers[1..-1].map {|t| t.phrases})
  - num_phrases = tiers.first.phrases.size
  - 0.upto(num_phrases - 1) do |i|
    %table.line
      %tr
        %td.controls{:title => "#{tier_phrases[i][0].start_time} to #{tier_phrases[i][0].end_time}"}
          = "s#{i+1}"
          %br
          = link_to image_tag('/images/play.png'), "#t=#{tier_phrases[i][0].start_time},#{tier_phrases[i][0].end_time}", :class => 'play_button'
        %td.tracks
          - tier_phrases[i].each do |phrase|
            - if !phrase.words.empty?
              - tier_id = "#{phrase.tier.tier_id}_w"
              .tier{:class => [tier_id, phrase.tier.linguistic_type]}
                - phrase.words.each do |word|
                  - colspan = 1
                  - colspan = word[:morphemes].first.size unless word[:morphemes].empty?
                  %span
                    %table
                      %tr
                        %td{:colspan => colspan}
                          = word[:text].force_encoding('UTF-8')

                      - word[:morphemes].each do |kind, morphemes|
                        %tr
                          - morphemes.each do |s|
                            %td{:class => kind}
                              = s.force_encoding('UTF-8')
            - if phrase.text
              .tier{:class => [phrase.tier.tier_id, phrase.tier.linguistic_type]}
                = phrase.text.force_encoding('UTF-8')
