:javascript
  var country_languages = #{CountryLanguage.country_languages.to_json}


#transcript_details
  %h2 Edit Transcript Details

  = form_for @transcript, :method => :put do |form|
    = error_messages @transcript

    %table#metadata
      %tr
        %td.name
          = form.label :title
          * 
        %td.value
          = form.text_field :title, :class => 'text required', :size => 80

      %tr
        %td.name
          = form.label :description
          *
        %td.value
          = form.text_area :description, :class => 'text required', :rows => 5, :cols => 80

      %tr
        %td.name
          = form.label :date
          *
        %td.value
          = form.date_select :date, :order => [:day, :month, :year], :start_year => 1950

      %tr
        %td.name
          = form.label :country_code, 'Country Code'
          *
        %td.value
          = form.select :country_code, options_from_collection_for_select(Country.all.sort_by(&:name), :code, :name, @transcript.country_code), {}, :class => 'country-select', 'data-select-child' => 'transcript_language_code'

      %tr
        %td.name
          = form.label :language_code, 'Language Code'
          *
        %td.value
          = form.select :language_code, options_for_select([], @transcript.language_code), {}, 'data-option-selected' => @transcript.language_code

      %tr
        %td.name
          = form.label :copyright, 'Copyright Holder'
        %td.value
          = form.text_field :copyright, :class => 'text', :size => 80

      %tr
        %td.name
          = form.label :license, 'License'
        %td.value
          = form.select :license, options_from_collection_for_select(License.all, :code, :name, @transcript.license)

      %tr
        %td.name
          = form.label :private, 'Make item private?'
        %td.value
          = form.check_box :private

      %tr
        %td.name
          Participants
        %td.value
          = form.fields_for :participants do |builder|
            %div.participant
              = builder.label :name
              = builder.text_field :name, :class => 'text', :size => 40

              = builder.label :role
              = builder.select :role, Participant::ROLES, :include_blank => true

              = builder.check_box :_destroy
              = builder.label :_destroy, 'Remove'
            %br
          = link_to 'Add participant', 'javascript:void(0)', 'data-clone-fields' => true

    = form.submit "Update"
    
  * required attributes

