
%table#transcripts
  %tr
    %th.name= link_to "Date", :sort => "date"
    %th.name= link_to "Creator", :sort => "creator"
    %th.name= link_to "Title", :sort => "title"
    %th.name= link_to "Language", :sort => "language_code"
    %th.name Country
    %th.name= link_to "Media", :sort => "media_item"
    %th.name Action
  - @transcripts.each do |transcript|
    %tr
      %td=  transcript.date ? transcript.date.to_date : ""
      %td=  transcript.creator
      %td=  link_to transcript.title, transcript
      %td=  transcript.language_code
      %td==  transcript.country
      %td=  transcript.media_item ? transcript.media_item.title : ""
      %td
        =link_to 'edit', edit_transcript_path(transcript)
        =link_to 'show', transcript_path(transcript)

