#transcripts
  %h2 Browse Transcripts

  = form_tag transcripts_path, :method => 'get' do
    = hidden_field_tag :direction, params[:direction]
    = hidden_field_tag :sort, params[:sort]
    %p
      = text_field_tag :search, params[:search]
      = submit_tag "Search"
      = submit_tag "Clear"

  %table#transcripts
    %tr
      %th.name= sortable "date"
      %th.name= sortable "depositor"
      %th.name= sortable "title"
      %th.name Description
      %th.name= sortable "language_code", "Language"
      %th.name= sortable "country_code", "Country"
      %th.name= sortable "media_item", "Media"
      %th.name Action
    - @transcripts.each do |transcript|
      %tr
        %td=  transcript.date ? transcript.date.to_date : ""
        %td=  transcript.depositor.first_name + " " + transcript.depositor.last_name
        %td
          = link_to transcript.title, transcript
          %br
          = "#{transcript.phrases.count} phrases"
        %td=  transcript.description
        %td= link_to transcript.language_code, transcripts_path(:language_code => transcript.language_code)
        %td=  transcript.country_code
        %td=  transcript.media_item ? transcript.media_item.title : ""
        %td
          =link_to 'Show', transcript_path(transcript)
          - if current_user and (transcript.depositor.id == current_user.id or current_user.admin?)
            =link_to 'Edit', edit_transcript_path(transcript)
            =link_to 'Delete', transcript, :confirm => "Are you sure?", :method => :delete

  -# FIXME
  -# = paginate @transcripts

