
%table#transcripts
  %tr
    %th.name Date
    %th.name Creator
    %th.name Title
    %th.name Language
    %th.name Country
    %th.name Media
  - @transcripts.each do |transcript|
    %tr
      %td=  transcript.date ? transcript.date.to_date : ""
      %td=  transcript.creator
      %td=  link_to transcript.title, transcript
      %td=  transcript.language_code
      %td==  transcript.country
      %td=  transcript.media_item ? transcript.media_item.title : ""

