
%h2 Attach Media Item

#metadata_display.collapse_box
  = render :partial => 'details'

= form_tag create_media_item_transcript_path @transcript do
  = hidden_field_tag :transcript_id, @transcript.id
  = hidden_field_tag :media_item_id

  %ul.media_items
    - @media_items.each do |media_item|
      %li
        .item
          = link_to media_item_thumb_tag(media_item), media_item
          %p
            = link_to media_item.title, media_item
          %p
            (
            = link_to 'Attach', '#', 'data-add-media-item' => true, 'data-media-item-id' => media_item.id
            )
