!!! XML
%eopas{'xmlns:dc' => "http://purl.org/dc/elements/1.1/"}
  %header
    %meta{:name => "dc:type", :value => "text/xml"}
    %meta{:name => "dc:source",   :value => @transcript.source.file.basename}
    %meta{:name => "dc:creator",  :value => @transcript.depositor.first_name + ' ' + @transcript.depositor.last_name}
    %meta{:name => "dc:language", :value => @transcript.language_code}
    %meta{:name => "dc:date",     :value => @transcript.date}

  %interlinear
    - phrases = @transcript.phrases
    - first_phrase = phrases.first
    - if first_phrase.original
      - phrases.each do |phrase|
        %phrase{:id => "o_#{phrase.phrase_id}", :startTime => phrase.start_time, :endTime => phrase.end_time}
          %transcription= phrase.original
          - words = phrase.words
          - unless words.empty?
            %wordlist
              - words.each do |word|
                - morphemes = word.morphemes
                %word
                  %text= word[:word]
                  - unless morphemes.empty?
                    %morphemelist
                      - morphemes.each do |morpheme|
                        %morpheme
                          %text{:kind => 'morpheme'}= morpheme.morpheme
                          %text{:kind => 'gloss'}= morpheme.gloss
          - unless phrase.graid.nil?
            %graid= phrase.graid
          - unless phrase.translation.nil?
            %translation= phrase.translation
