!!! XML
%eopas{'xmlns:dc' => "http://purl.org/dc/elements/1.1/"}
  %header
    %meta{:name => "dc:type", :value => "text/xml"}
    %meta{:name => "dc:source",   :value => @transcript.original_file_name}
    %meta{:name => "dc:creator",  :value => @transcript.depositor.first_name + ' ' + @transcript.depositor.last_name}
    %meta{:name => "dc:language", :value => @transcript.language_code}
    %meta{:name => "dc:date",     :value => @transcript.date}

  %interlinear
    - phrases = @transcript.phrases
    - first_phrase = phrases.first
    - if first_phrase.original
      %tier{:id => "o", :linguistic_type => 'transcription'}
        - phrases.each do |phrase|
          %phrase{:id => "o_#{phrase.phrase_id}", :startTime => phrase.start_time, :endTime => phrase.end_time}
            %text= phrase.original
            - unless phrase.words.empty?
              %wordlist
                - phrase.words.each do |word|
                  %word
                    %text= word.word
                    - unless word.morphemes.empty?
                      %morphemelist
                        - word.morphemes do |morpheme|
                          %morpheme
                            %text{:kind => 'morpheme'}= morpheme.morpheme
                            %text{:kind => 'gloss'}= morpheme.gloss
    - if first_phrase.translation
      %tier{:id => "fg", :linguistic_type => 'translation'}
        - phrases.each do |phrase|
          %phrase{:id => "fg_#{phrase.phrase_id}", :startTime => phrase.start_time, :endTime => phrase.end_time}
            %text= phrase.translation



