
#left_column
  - if @media_item
    %h3
      = @media_item.title

    #media_display.collapse_box
      = render :partial => 'media_items/mediaplayer'

    #metadata_display.collapse_box
      = render :partial => 'media_items/details'
  - else
    No media item attached
    = link_to 'Link to Media Item', new_media_item_transcript_path(@transcript)

  #metadata_display.collapse_box
    = render :partial => 'details'

  - if @transcript.depositor == current_user
    #remove-transcript
      = link_to 'Delete transcript', @transcript, :confirm => "Are you sure?", :method => :delete


#right_column
  - tiers = @transcript.tiers
  #tiers_info
    = render :partial => 'tierinfo', :locals => {:tiers => tiers}

  #transcript_display
    = render :partial => 'tiers', :locals => {:tiers => tiers}

