%fieldset

  %table#metadata
    %tr
      %td#name
        = label_tag :first_name
      %td#value
        = form.text_field :first_name, :class => 'text'

    %tr
      %td#name
        = label_tag :last_name
      %td#value
        = form.text_field :last_name, :class => 'text'

    %tr
      %td#name
        = label_tag :email
      %td#value
        = form.text_field :email, :class => 'text'

    %tr
      %td#name
        = label_tag :password, form.object.new_record? ? nil : "Change password"
      %td#value
        = form.password_field :password

    %tr
      %td#name
        = label_tag :password_confirmation
      %td#value
        = form.password_field :password_confirmation


