%fieldset

  %table#metadata
    %tr#firstname
      %td.name
        = form.label :first_name
      %td.value
        = form.text_field :first_name, :class => 'text'

    %tr#lastname
      %td.name
        = form.label :last_name
      %td.value
        = form.text_field :last_name, :class => 'text'

    %tr#email
      %td.name
        = form.label :email
      %td.value
        = form.text_field :email, :class => 'text'

    %tr#password
      %td.name
        = form.label :password, form.object.new_record? ? nil : "Change password"
      %td.value
        = form.password_field :password

    %tr#passwordconfirmation
      %td.name
        = form.label :password_confirmation
      %td.value
        = form.password_field :password_confirmation


