.collapse_title
  = image_tag 'minimize_grey.png', :class => 'collapse_icon'
  == #{@media_item.title} , #{@media_item.recorded_on}

.collapse_content
  %table#metadata.small
    %tr#depositor
      %td.name
        Depositor
      %td.value
        = @media_item.depositor.full_name

    %tr#recorded_on
      %td.name
        Recorded on
      %td.value
        = @media_item.recorded_on

    %tr#description
      %td.name
        Description
      %td.value
        = truncate @media_item.description, :length => 100

    %tr#copyright
      %td.name
        Copyright
      %td.value
        = @media_item.copyright

    %tr#license
      %td.name
        License
      %td.value
        = @media_item.license

    %tr#private
      %td.name
        Private
      %td.value
        = @media_item.private

    - if current_user and (@media_item.depositor.id == current_user.id or current_user.admin?)
      %tr
        %td.name
          Download
        %td.value
          = link_to @media_item.media.file.basename, @media_item.media.url

  Embed code:
  %br
  %textarea#embed_code
    = html_escape(media_item_embed_tag @media_item)
  %br
  - if current_user and (@media_item.depositor.id == current_user.id or current_user.admin?)
    = link_to 'Edit media item metadata', edit_media_item_path(@media_item)

