:javascript
  var country_languages = #{CountryLanguage.country_languages.to_json}

%fieldset

  %table#metadata

    - if @media_item.new_record?
      %tr
        %td.name
          = form.label :format
          *
        %td.value
          = form.select :format, options_for_select(MediaItem::FORMATS, @media_item.format), { :include_blank => true }, :class => 'required'

      %tr
        %td.name
          = form.label :media, 'Media File'
          *
        %td.value
          = form.file_field :media, :class => 'required'
          = form.hidden_field :media_cache
    - else
      %tr
        %td.name
          = @media_item.format.titleize
        %td.value
          - if @media_item.format == 'video'
            = link_to image_tag(@media_item.media.thumb.url), @media_item
    %tr
      %td.name
        = form.label :title
        *
      %td.value
        = form.text_field :title, :class => 'text', :class => 'required'

    %tr
      %td.name
        = form.label :description
        *
      %td.value
        = form.text_field :description, :class => 'text'

    %tr
      %td.name
        = form.label :recorded_on
        *
      %td.value
        = form.date_select :recorded_on, :order => [:day, :month, :year], :start_year => 1950, :class => 'required'

    %tr
      %td.name
        = form.label :copyright, 'Copyright Holder'
        *
      %td.value
        = form.text_field :copyright, :class => 'text', :class => 'required'

    %tr
      %td.name
        = form.label :license, 'License'
        *
      %td.value
        = form.select :license, options_from_collection_for_select(License.all, :code, :name, @media_item.license), :class => 'required'

    %tr
      %td.name
        = form.label :private, 'Make item private?'
      %td.value
        = form.check_box :private

