
%h2 Browse Media Items

%ul.media_items
  - @media_items.each do |media_item|
    %li
      .item
        - if media_item.format == 'video'
          = link_to image_tag(media_item.original.url(:thumbnail)), media_item
        - else
          = link_to image_tag('/originals/thumbnail/audio.png'), media_item
        %p
          = link_to media_item.title, media_item
        %p.description
          = truncate media_item.description, :length => 35 || "no description"
        %p
          = link_to 'Edit', edit_media_item_path(media_item)
            
