- content_for :javascript_includes, javascript_include_tag('jquery.nginxUploadProgress.js','jquery.validate.js')

:javascript
  $(document).ready(function() {
    $('#new_media_item').nginxUploadProgress();
  });

#media_item
  %h2 Uplaod Media Item

  = form_for @media_item, :html => { :multipart => true, :class => 'validate'} do |f|
    = error_messages @media_item

    = render :partial => 'form', :object => f

    = f.submit "Create"

  * required attributes

.info
  #uploading
    %h3 Upload progress
    %p Please note that we haven't moved transcoding to a background process yet. So once the progress bar it's 100% transcoding might take a few more minutes. Just wait it out until you see the next webpage. Thanks for your patience :).
    #progress.bar
      #progressbar &nbsp;

  %h3
    Please enter information about your media resource.
  %p 
    Please note that the upload limit of this server is
    %span{:style => "color: red;"}
      2GB
    , but large files will take a long time to upload.
  %p
    You can find out more about the Licenses at:
  %ul
    - License.all.each do |l|
      %li
        #{l.code} :
        %a{:href => l.url}
          = l.name
