
#left_column
  %h3
    = @media_item.title

  #media_display.collapse_box
    = render :partial => 'mediaplayer'

  #metadata_display.collapse_box
    = render :partial => 'details'

  - if @transcript
    #remove-transcript
      = link_to 'Delete transcript', @transcript, :confirm => "Are you sure?", :method => :delete


#right_column
  - if @transcript
    - tiers = @transcript.tiers
    #tiers_info
      = render :partial => 'tierinfo', :locals => {:tiers => tiers}
              
    #transcript_display
      = render :partial => 'transcripts', :locals => {:tiers => tiers}

  - else
    #add-transcript
      = link_to 'Add transcript', new_media_item_transcript_path(@media_item)
