
#left_column
  %h3
    = @media_item.title

  #media_display.collapse_box
    = render :partial => 'mediaplayer'

  #metadata_display.collapse_box
    = render :partial => 'details'

  - if @transcript
    #remove-transcript
      = link_to 'Delete transcript', @transcript, :confirm => "Are you sure?", :method => :delete


#right_column
  %ul
    - @transcripts.each do |transcript|
      %li= link_to transcript.title, transcript
