
#left_column
  %h3
    = @media_item.title

  #media_display.collapse_box
    .collapse_title
      = image_tag '/images/minimize_grey.png', :class => 'collapse_icon'
      Media Player

    .collapse_content
      - if @media_item.original_processing
        = image_tag '/originals/poster/missing.png'
      -else
        = media_item_video_tag @media_item


  #metadata_display.collapse_box
    .collapse_title
      = image_tag '/images/minimize_grey.png', :class => 'collapse_icon'
      == #{@media_item.depositor.full_name} , #{@media_item.recorded_at}

    .collapse_content
      = render :partial => 'details'

  - if @transcript
    #remove-transcript
      = link_to 'Delete transcript', @transcript, :confirm => "Are you sure?", :method => :delete


#right_column
  - if @transcript
    - tiers = @transcript.tiers
    #tiers_info
      %button#tier_title.hider{'data-hide-selector' => "#tier_list"}
        == Set Displayed Tracks
      %form#tier_list
        - tiers.each do |tier|
          %input.tier_info.hider{'data-hide-selector' => ".#{tier.tier_id}", :type => 'checkbox', :checked => 'checked'}
            == Show #{tier.linguistic_type} 
            = "[#{tier.language_code}]" if tier.language_code
            %br
    #transcript_display
      - if tiers.map {|tier| tier.phrases.size}.uniq.size != 1
        Error: Can't deal with transcripts that have different number of phrases in each tier
      - else
        - tier_phrases = tiers.first.phrases.zip(*tiers[1..-1].map {|t| t.phrases})
        - num_phrases = tiers.first.phrases.size
        - 0.upto(num_phrases - 1) do |i|
          .line
            - tier_phrases[i].each do |phrase|
              .tier{:class => phrase.tier.tier_id}
                .words
                  - phrase.words.each do |word|
                    - colspan = 1
                    - colspan = word[:morphemes].first.size unless word[:morphemes].empty?
                    %span
                      %table
                        %tr
                          %td{:colspan => colspan}
                            = word[:text].force_encoding('UTF-8')

                        - word[:morphemes].each do |kind, morphemes|
                          %tr
                            - morphemes.each do |s|
                              %td{:class => kind}
                                = s.force_encoding('UTF-8')
                - if phrase.text
                  .phrase{:class => phrase.tier.linguistic_type}
                    = phrase.text.force_encoding('UTF-8')

  - else
    #add-transcript
      = link_to 'Add transcript', new_media_item_transcript_path(@media_item)
