
#left_column
  %h3
    = @media_item.title

  #media_display.collapse_box
    = render :partial => 'mediaplayer'

  #metadata_display.collapse_box
    = render :partial => 'details'

  - if @media_item.depositor == current_user
    - if @force_delete
      #remove-media-item
        = link_to 'Force Delete', media_item_path(@media_item, :force => true), :confirm => "Really force deletion?", :method => :delete
    - else
      #remove-media-item
        = link_to 'Delete', media_item_path(@media_item), :confirm => "Are you sure?", :method => :delete


#right_column
  %ul
    - @transcripts.each do |transcript|
      %li= link_to transcript.title, transcript
