%h2 Login

= form_for @user_session do |f|
  %fieldset
    = error_messages @user_session

    %table#metadata
      %tr
        %td#name
          = f.label :email
        %td#value
          = f.text_field :email, :class => 'text'

      %tr
        %td#name
          = f.label :password
        %td#value
          = f.password_field :password

      %tr
        %td#name
        %td#value
          = f.check_box :remember_me
          = f.label :remember_me

      %tr
        %td#name
        %td#value
          = f.submit "Login"


= link_to 'Forgot your password?', new_forgotten_password_path

