#menu

  %ul
    %li= link_to 'Home', root_path, :class => 'header'
    %li= link_to 'Browse Transcripts', transcripts_path, :class => 'header'
    - if current_user
      %li= link_to 'Browse Media', media_items_path, :class => 'header'
      %li= link_to 'Upload Transcript', new_transcript_path, :class => 'header'
      %li= link_to 'Upload Media', new_media_item_path, :class => 'header'
    %li= link_to 'Contact Us', 'https://sourceforge.net/projects/eopas/support', :class => 'header'
    %li#right= link_to 'Help', help_path, :class => 'header'


:javascript

  // We want the appropriate link to be highlighted
  $('document').ready(function() {
      var loc = window.location.toString().split("/")
      loc = loc[loc.length - 1] + "/"
      $("#sidebar li a[href=\""+loc+"\"]").parent().addClass("current");
    } 
  );

