!!! 5

= render :partial => 'layouts/head'

%body.bp.one-col

  #container

    = render :partial => 'layouts/header'

    = render :partial => 'layouts/flash', :object => flash

    = render :partial => 'layouts/menu'

    #content
      = yield

    = render :partial => 'layouts/footer'

  = render :partial => 'layouts/footerscripts'

